<!DOCTYPE html>
<html>
<body>
	{% include 'hackathon/base.html' %}
	<h1 class="text-center"> {{ title }}</h1> 

	<div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped tablesorter">
                <thead>
                <tr>
                <th class="header"> Name <i class="icon-sort"></i></th>
                <th class="header"> Location <i class="icon-sort"></i></th>
                <th class="header"> Talent <i class="icon-sort"></i></th>
                <th class="header"> Rating <i class="icon-sort"></i></th>
                </tr>
            </thead>
            <tbody>

                    <td>{{ merchant.username }}</td>
                    <td>{{ merchant.place}}</td>
                    <td>{{ merchant.talent.name}}</td>
                    <td>{{ merchant.rating}}</td>
            </tbody>
            </table>
            <table class="table table-bordered table-hover table-striped tablesorter">
                <thead>

                <tr>
                <th class="header"> Rating <i class="icon-sort"></i></th>
                </tr>
            </thead>
            <tbody>
            {% for item in ratings %}
                <tr>
                    <td>{{ item.calculate_average}}</td>
                </tr>
            {% endfor %}
            </tbody>
            <h2>'Rate the Merchant'</h2>
            <form action = " {% url 'rate_merchant' merchant.id %}" method = "post">
            {% csrf_token %}
            <input type="radio" name="sex" value="male" checked>Male
            <br>
            <input type="radio" name="sex" value="female">Female
            <br>
            <input type="radio" name="sex" value="male" checked>Male
            <br>
            <input type="radio" name="sex" value="female">Female
            <br>
            <input type="radio" name="sex" value="male" checked>Male
            <br>
            <input type="submit" value="Vote" />
            </form>
            </table>
        </div>
    </div>

</html>