<!DOCTYPE html>
<html>
<body>
	{% include 'hackathon/base.html' %}
	<h1 class="text-center"> {{ title }}</h1> 

	<div class="col-lg-8 col-lg-offset-2" style='background-color: rgba(255,255,255,0.5)'>
        <div class="table-responsive">

            <h1>Rate the Merchant: {{ merchant.username }}</h1>
            <br>
            
            <form class="form-horizontal" id="rating_form" method="post" action="{% url 'rate_merchant' merchant.id %}"
                enctype="multipart/form-data">
                {% csrf_token %}
                {% load bootstrap %}

                <table>
                  <tr>
                      <td class="container text-center">{{ rating_form.rating_ontime | bootstrap_horizontal}}</td>
                  </tr>

                  <tr>

                      <td class="container text-center">{{ rating_form.rating_quality | bootstrap_horizontal}}</td>
                  </tr>

                  <tr>

                      <td class="container text-center">{{ rating_form.rating_value | bootstrap_horizontal}}</td>
                  </tr>

                  <tr>
                      <td class="container text-center">{{ rating_form.rating_reliability | bootstrap_horizontal}}</td>
                  <tr>

                      <td class="container text-center">{{ rating_form.text | bootstrap_horizontal}}</td>
                  </tr>
                  </tr>
                </table>
                <button class="btn btn-lg btn-primary" type="submit">Rate</button>
                <input type="hidden" name="submit" value="Rate" />
              </form>
            </table>
        </div>
    </div>

</html>