<!DOCTYPE html>
<html>
    {% include 'hackathon/base.html' %}
    <link rel="stylesheet" href="/static/css/form.css">
    <body>
        {% if registered %}
          <strong>Thank you for registering!</strong>
          <a href="/hackathon/">Return to the homepage.</a><br />
        
        {% else %}
          <div class='container main text-center'>
              <h2 class="form-signin-heading">Sign Up</h2>
              <br>
              <form class="form-horizontal" id="merchant_form" method="post" action="/hackathon/register_merchant/"
                enctype="multipart/form-data">
                {% csrf_token %}
                {% load bootstrap %} 

                <table>
                  <tr>
                      <td class="container text-center">{{ merchant_form.username | bootstrap_horizontal}}</td>
                  </tr>

                    <tr>
                      <td class="container text-center">{{ merchant_form.first_name | bootstrap_horizontal}}</td>
                  </tr>

                    <tr>
                      <td class="container text-center">{{ merchant_form.last_name | bootstrap_horizontal}}</td>
                  </tr>
                  <tr>

                      <td class="container text-center">{{ merchant_form.email | bootstrap_horizontal}}</td>
                  </tr>

                  <tr>

                      <td class="container text-center">{{ merchant_form.place | bootstrap_horizontal}}</td>
                  </tr>

                    <tr>

                      <td class="container text-center">{{ merchant_form.talent | bootstrap_horizontal}}</td>
                  </tr>


                  <tr>
                      <td class="container text-center">{{ merchant_form.phone_number | bootstrap_horizontal}}</td>
                  <tr>

                      <td class="container text-center">{{ merchant_form.password | bootstrap_horizontal}}</td>
                  </tr>
                  </tr>
                </table>
                <button class="btn btn-lg btn-primary" type="submit">Register Merchant</button>
                <input type="hidden" name="submit" value="Register" />
              </form>
            </div>
          {% endif %}
    </body>
</html>

